<h1>OUr Top 5 States By Population</h1>

<ol>
		<% @states.each do |s| %>
			<li>
			<b><%= s.name %></b>
				<ul>
					<li>Capital: <%= s.capitol %></li>
					<li>Population: <%= number_with_delimiter s.population %></li>
					<li>Area: <%= number_with_delimiter s.area %> sq miles</li>
				</ul>
		 	</li>
		 	<br>
	<% end %>
</ol>
